<div class="cancel-subscription">
    <div class="ui header">Can we help?</div>
    <div class="sub header">
        We're sorry you're thinking of leaving us.  Could you tell us why?  We might be able to help.
    </div>
    <ls-form (submitEvent)="onSubmit($event)">
        <ls-radio id="cancel_reason" [options]="radioOptions" name="reason"></ls-radio>

        <div class="cancel__button-container">
            <button class="ui animated button"
                    (click)="$event.preventDefault(); emitter.emit('displaySubscription')">
                <div class="visible content">
                    Back
                </div>
                <div class="hidden content">
                    <i class="left arrow icon"></i>
                </div>
            </button>
            <button class="ui inverted red button" type="submit">Cancel Subscription</button>
        </div>
    </ls-form>
</div>
