<!--<div class="ui search">
    <input id="search" placeholder="Search..." type="text" class="prompt" [formControl]="searchControl">
    <div class="results transition visible" style="display: block !important;" *ngIf="searchResults.length > 0">
        <a class="result" (click)="select(searchValue.value, searchValue.href)" *ngFor="let searchValue of searchResults">
            <div class="content">
                <div class="title">{{searchValue.value}}</div>
            </div>
        </a>
    </div>
</div>-->

<div class="search">
    <div class="search__button"><a href="#"><i class="fa fa-lg fa-search"></i></a></div>
    <input [formControl]="searchControl" placeholder="Search..." type="text" class="search__input">
</div>
