@import "~susy/sass/susy";
@import "bourbon/bourbon";

.password__container {
    padding-bottom: 10px;
}

.password__checklist-item {
    @include container(12);
}

.password__checklist-icon {
    @include span(last 1 of 12);
}

.password__toggle {
    width: 75px;
    text-align: center;
    cursor: pointer;
    @include prefixer(user-select, none, webkit moz ms spec);
}
