<div class="inline field password__container">
    <label>{{inputLabel}}</label>
    <div class="ui fluid right labeled input">
        <input type="password" id="password" placeholder="Enter Password" [formControl]="passwordControl" #password />
        <div class="password__toggle ui basic label" (click)="password.type = (password.type === 'text') ? 'password' : 'text'">
            {{(password.type === 'text') ? 'Hide' : 'Show'}}
        </div>
    </div>

    <div class="ui warning message visible">
        <div class="header">Password Checklist</div>
        <ul class="list">
            <li class="password__checklist-item">
                Password must have a <strong>minimum length of 8</strong>
                <i *ngIf="passwordControl.touched || password.value.length > 0"
                   class="ui fluid circular icon password__checklist-icon"
                   [ngClass]="{'red remove': password.value.length < 8, 'green check': password.value.length >= 8}"></i>
            </li>
            <li class="password__checklist-item">
                Password must have at least one <strong>uppercase</strong> letter
                <i *ngIf="passwordControl.touched || password.value.length > 0"
                   class="ui fluid circular icon password__checklist-icon"
                   [ngClass]="{'red remove': !hasUppercase(), 'green check': hasUppercase()}"></i>
            </li>
            <li class="password__checklist-item">
                Password must have at least one <strong>number</strong>
                <i *ngIf="passwordControl.touched || password.value.length > 0"
                   class="ui fluid circular icon password__checklist-icon"
                   [ngClass]="{'red remove': !hasNumber(), 'green check': hasNumber()}"></i>
            </li>
            <li class="password__checklist-item">
                Password must have at least one <strong>symbol</strong>
                <i *ngIf="passwordControl.touched || password.value.length > 0"
                   class="ui fluid circular icon password__checklist-icon"
                   [ngClass]="{'red remove': !hasSymbol(), 'green check': hasSymbol()}"></i>
            </li>
        </ul>
    </div>
</div>

<button class="ui button"
        (click)="onSubmit.emit({password: password.value})"
        [disabled]="password.value.length < 8 || !hasUppercase() || !hasNumber() || !hasSymbol()">
    {{buttonLabel}}
</button>



<!--<div class="inline field password__container">-->
    <!--<label>Password</label>-->
    <!--<div class="ui fluid right labeled input">-->
        <!--<input type="{{inputType}}" id="password" [formControl]="controlPassword" placeholder="Enter Password" />-->
        <!--<div class="password__toggle__option ui basic label" (click)="togglePassword()">-->
            <!--{{toggleOption}}-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="ui warning message visible">-->
        <!--<div class="header">Password Checklist</div>-->
        <!--<ul class="list">-->
            <!--<li class="password__checklist-item">-->
                <!--Password must have a minimum length of 8-->
                <!--<i *ngIf="controlPassword.value.length >= 8" class="ui fluid green circular icon check password__checklist-icon"></i>-->
                <!--<i *ngIf="controlPassword.touched && controlPassword.value.length < 8" class="ui fluid red circular remove icon password__checklist-icon"></i>-->
            <!--</li>-->
            <!--<li class="password__checklist-item">-->
                <!--Password must have at least one Uppercase Letter-->
                <!--<i *ngIf="testUppercase(controlPassword.value)" class="ui fluid green circular check icon password__checklist-icon"></i>-->
                <!--<i *ngIf="controlPassword.touched && !testUppercase(controlPassword.value)" class="ui fluid red circular remove icon password__checklist-icon"></i>-->
            <!--</li>-->
            <!--<li class="password__checklist-item">-->
                <!--Password must have at least one Number-->
                <!--<i *ngIf="testNumber(controlPassword.value)" class="ui fluid green circular check icon password__checklist-icon"></i>-->
                <!--<i *ngIf="controlPassword.touched && !testNumber(controlPassword.value)" class="ui fluid red circular remove icon password__checklist-icon"></i>-->
            <!--</li>-->
            <!--<li class="password__checklist-item">-->
                <!--Password must have at least one Symbol-->
                <!--<i *ngIf="testSymbol(controlPassword.value)" class="ui fluid green circular check icon password__checklist-icon"></i>-->
                <!--<i *ngIf="controlPassword.touched && !testSymbol(controlPassword.value)" class="ui fluid red circular remove icon password__checklist-icon"></i>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->
<!--</div>-->
<!-- TODO See if they want confirm password or not -->
<!-- <div class="inline field password__container">
    <label>Confirm Password</label>
    <div class="ui fluid input">
        <input type="password" id="confirmPassword" [formControl]="controlConfirmPassword" placeholder="Confirm Password"/>
    </div>
    <div *ngIf="controlConfirmPassword.touched && !controlConfirmPassword.valid"
        class="ui top pointing red basic label">
        <span class="password__error-text">Confirm Password is required</span>
    </div>
    <div *ngIf="controlConfirmPassword.touched && controlConfirmPassword.valid
        && controlConfirmPassword.value !== controlPassword.value"
        class="ui top pointing red basic label">
        <span class="password__error-text">Confirm Password does not match</span>
    </div>
</div>
<button [disabled]="!controlPassword.valid || !controlConfirmPassword.valid || (controlConfirmPassword.value !== controlPassword.value)" class="ui button" (click)="onSubmit.emit({password: controlPassword.value, confirm: controlConfirmPassword.value})">Activate Account</button> -->
